@import 'bootstrap.css';

@mixin background{
  background-color: #FAF4E8;
}
@mixin border{
  border-bottom: 1px solid #6B3019;
}
@mixin main-brown{
  color: #6B3019;
}
input{
  border-width: 0;
}
header{
  @include background;
  @include border;
  padding: 1rem 0;
  position: relative;
}
.navbar-dark .navbar-toggler-icon{
  filter: invert(1);
}
.header-nav__search{

  input{
    @include background;
    position: relative;
    border: 1px solid #FF00FF;
    display: inline-block;
    border-radius: 4px;
    line-height: 2rem;
  }
  button{
    position: absolute;
    right: 20px;
    top: 5px;
    background: none;
    border: none;
    color: #FF00FF;
    i{
      font-size: 1rem;
    }
  }
}
.header-nav__cart{
  font-size: 2rem;
  @include main-brown;
}
.header-nav__callback{
  @include main-brown;
  font-size: 2rem;
}
.top-menu{
  border-bottom: 10px double #6B3019;
  border-top: 3px solid #6B3019;
  padding: 2.5px;
  width: 30px;
}
.openTopmenu{
  display: inline-block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  z-index: 2;
  &__inner{
    background-color: #6B3019;
    position: relative;
    a{
      display: block;
      color: #FAF4E8;
      font-size: 20px;
      padding: 1rem 0;
    }
    &__soc-icons {
      a {
        font-size: 2rem;
        color: #F598CC;
        padding: 0 1rem;
      }
    }
  }
  .toggle-menu{
    position: absolute;
    color: #FAF4E8;
    font-size: 2rem;
    right: 10%;
  }
}
section{
  @include background
}
.menu{
  &__head{
    font-size: 20px;
    @include main-brown;
    font-weight: bolder;
  }
  &__items{
    list-style: none;
    &__link{
      a {
        box-sizing: content-box;
        text-decoration: none;
        color: #FF00FF;
        font-size: 20px;
      }
      &:after{
        content: "";
        display: inline-block;
        width: 120%;
        height: 1px;
        background-color: #FF00FF;
      }
      a{
      }
      i{
        display: inline-block;
        padding-right: 20px;
      }
    }
  }
}
.catalog{
 h1{
    @include main-brown;
    font-size: 24px;
  }
  a{
    text-decoration: none;
    color: black;
  }
  &__item{
    &__img{
      height: 250px;
      border: #FF00FF 1px solid;
    }
    &__name{
      position: relative;
      &:before{
        content: "";
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 40px;
        background-color: #FF00FF;
        position: absolute;
        top: 60px;
        left: 50%;
      }
      &:after{
        content: "";
        display: inline-block;
        width: 100%;
        background-color: #FF00FF;
        height: 1px;
        position: absolute;
        top: 90px;
        left: 0;
      }
    }
  }
}